<app-stats-header
  (resetRequested)="showResetDialog = true"
  (saveTransferRequested)="openSaveTransferDialog()"
></app-stats-header>

<div class="main">
  <app-planet-view></app-planet-view>
  <app-upgrade-panel></app-upgrade-panel>
</div>

<app-reset-dialog
  *ngIf="showResetDialog"
  (confirmed)="onResetConfirmed()"
  (cancelled)="showResetDialog = false"
></app-reset-dialog>

<app-save-transfer-dialog
  *ngIf="showSaveTransferDialog"
  #saveTransferDialog
  [exportValue]="exportSaveValue"
  (closed)="showSaveTransferDialog = false"
  (importRequested)="handleImport(saveTransferDialog, $event)"
></app-save-transfer-dialog>
